@page "/addnote"

<PageTitle>Add Note</PageTitle>

<form>
    <div class="form-group mb-2">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title">
    </div>
    <div class="form-group mb-2">
        <label for="exampleInputPassword1">Description</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter description">
    </div>


    <button type="submit" class=" btn btn-primary">Add Note</button>
</form>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
