@page "/editnote"
<PageTitle>Edit Note</PageTitle>

<form>
    <div class="form-group mb-2">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title" value="Go to shop">
    </div>
    <div class="form-group mb-2">
        <label for="exampleInputPassword1">Description</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter description" value="Buy bread,milk and banana">
    </div>


    <button type="submit" class=" btn btn-primary">Edit Note</button>
</form>

@code {

}
